{% extends 'master/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}

{% block body %}
    <h1 class="my-5">{{page_title}}</h1>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{form_data | crispy}}

        <div class="mb-3">
            <button type="submit" class="btn btn-success form-control">{{submit_btn_name}}</button>
        </div>

        <div class="mb-3">
            <a href="{% url cancel_btn_url %}" class="btn btn-warning form-control">{{cancel_btn_name}}</a>
        </div>
    </form>
{% endblock body %}
