{% extends 'master/base.html' %}


{% block title %}
    Student List
{% endblock title %}


{% block body %}
    <a href="{% url 'add_student' %}" class="btn btn-success my-5">Add Student</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Roll</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for data in student_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.roll_no}}</td>
                    <td>
                        <img src="{{data.image.url}}" width="50px" alt="">
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock body %}

