{% extends 'master/base.html' %}


{% block title %}
    Course Categories
{% endblock title %}


{% block body %}
    <h1 class="my-5">Course Category List</h1>
    <a href="{% url 'add_course_category' %}" class="btn btn-success">Add Course Category</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for data in course_category_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.name}}</td>
                    <td>
                        <a href="{% url 'edit_course_category' data.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_course_category' data.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock body %}

