{% extends 'master/base.html' %}


{% block title %}
    Courses
{% endblock title %}


{% block body %}
    <h1 class="my-5">Course List</h1>
    <a href="{% url 'add_course' %}" class="btn btn-success">Add Course</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Title</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for data in course_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.title}}</td>
                    <td>{{data.category}}</td>
                    <td>
                        <a href="{% url 'edit_course' data.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_course' data.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock body %}

